<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>Kam311.MailMergeMessenger4.help</string>

    <key>CFBundleName</key>
    <string>MailMergeMessenger Help</string>

    <key>CFBundlePackageType</key>
    <string>BNDL</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>HPDBookAccessPath</key>
    <string>index.html</string>

    <key>HPDBookIconPath</key>
    <string>Images/help-icon.png</string>

    <key>HPDBookTitle</key>
    <string>MailMergeMessenger Help</string>

    <key>HPDBookType</key>
    <string>3</string>
</dict>
</plist>
